#container
  .header
    .icon
      img(src="http://i41.tinypic.com/9ht1t2.png")
    .title 
      a(href="/")= title
    .ldquo &ldquo;
    .quote I don’t believe in originality. You take inspiration from whatever moves you and you find your voice in those things.
    div(align="right")  &mdash; Tim Walker

h1= title
#articles
    - each article in articles
      div.article
        div.created_at= article.created_at
        div.title 
            a(href="/blog/"+article._id.toHexString())!= article.title
        div.body= article.body
