body {
  background: #fff;
  font: normal 11px 'Lucida Sans Unicode', sans-serif;
  line-height: 1.7;
  margin: 0;
  text-align: justify;
  color: #555;
}
a {
  color: #457899;
  text-decoration: none;
}
a:hover {
  color: #223c61;
  cursor: pointer;
  border-bottom: 1px solid #a5c2cc;
}
a img {
  border: none;
}
b,
strong {
  font-family: 'Helvetica', sans-serif;
}
#container {
  margin: 50px auto;
  width: 710px;
}
.header {
  border-bottom: 1px dotted #eee;
  margin: 0 0 30px 210px;
  width: 500px;
}
.icon {
  margin: 0 0 15px;
}
.icon img {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  display: block;
  width: 80px;
  height: 80px;
}
.title {
  font: normal 22px 'Georgia', serif;
  color: #0c0c11;
  letter-spacing: 2px;
  margin: 0 0 15px;
  text-transform: lowercase;
}
.title a {
  color: #0c0c11;
  text-decoration: none;
}
.title a:hover {
  color: #201f25;
  border: none;
}
.quote {
  color: #999;
  padding: 0 0 15px;
}
.ldquo {
  font: normal 100px 'Georgia', serif;
  color: #eee;
  margin: -15px 0 -85px;
}
.navigator {
  margin: 15px 0 0;
}
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs li {
  display: inline;
  margin: 0 0 0 5px;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#articles .article {
  margin: 20px;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#articles .article .body {
  background-color: #ffa;
}
.article .created_at {
  display: none;
}
.article input[type =text] {
  width: 490px;
  margin-left: 16px;
}
.article input[type =button],
.article input[type =submit] {
  text-align: left;
  margin-left: 44px;
}
.article textarea {
  width: 490px;
  height: 90px;
}
